In [1]:
import sys
sys.path.append('..')

import pandas as pd
import numpy as np

from data import process_data as proc

In [2]:
df = proc.load_data('../data/disaster_messages.csv', '../data/disaster_categories.csv')

In [3]:
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [4]:
cleaned = proc.clean_data(df)

In [5]:
cleaned.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
cleaned[cleaned.columns[4:]] = cleaned[cleaned.columns[4:]].apply(pd.to_numeric)

In [7]:
cleaned[cleaned.columns[4:]]

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26381,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26382,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26383,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26384,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
26385,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
for column in cleaned.columns[4:]:
    print(column)
    print(cleaned[column].value_counts())

related
1    19906
0     6122
2      188
Name: related, dtype: int64
request
0    21742
1     4474
Name: request, dtype: int64
offer
0    26098
1      118
Name: offer, dtype: int64
aid_related
0    15356
1    10860
Name: aid_related, dtype: int64
medical_help
0    24132
1     2084
Name: medical_help, dtype: int64
medical_products
0    24903
1     1313
Name: medical_products, dtype: int64
search_and_rescue
0    25492
1      724
Name: search_and_rescue, dtype: int64
security
0    25745
1      471
Name: security, dtype: int64
military
0    25356
1      860
Name: military, dtype: int64
child_alone
0    26216
Name: child_alone, dtype: int64
water
0    24544
1     1672
Name: water, dtype: int64
food
0    23293
1     2923
Name: food, dtype: int64
shelter
0    23902
1     2314
Name: shelter, dtype: int64
clothing
0    25811
1      405
Name: clothing, dtype: int64
money
0    25612
1      604
Name: money, dtype: int64
missing_people
0    25918
1      298
Name: missing_people, dtype: int64
refugees
0    25341
1      875
Name: refugees, dtype: int64
death
0    25022
1     1194
Name: death, dtype: int64
other_aid
0    22770
1     3446
Name: other_aid, dtype: int64
infrastructure_related
0    24511
1     1705
Name: infrastructure_related, dtype: int64
transport
0    25015
1     1201
Name: transport, dtype: int64
buildings
0    24883
1     1333
Name: buildings, dtype: int64
electricity
0    25684
1      532
Name: electricity, dtype: int64
tools
0    26057
1      159
Name: tools, dtype: int64
hospitals
0    25933
1      283
Name: hospitals, dtype: int64
shops
0    26096
1      120
Name: shops, dtype: int64
aid_centers
0    25907
1      309
Name: aid_centers, dtype: int64
other_infrastructure
0    25065
1     1151
Name: other_infrastructure, dtype: int64
weather_related
0    18919
1     7297
Name: weather_related, dtype: int64
floods
0    24061
1     2155
Name: floods, dtype: int64
storm
0    23773
1     2443
Name: storm, dtype: int64
fire
0    25934
1      282
Name: fire, dtype: int64
earthquake
0    23761
1     2455
Name: earthquake, dtype: int64
cold
0    25686
1      530
Name: cold, dtype: int64
other_weather
0    24840
1     1376
Name: other_weather, dtype: int64
direct_report
0    21141
1     5075
Name: direct_report, dtype: int64

In [9]:
cleaned["related"] = (cleaned["related"] >= 1).astype(int)

In [10]:
for column in cleaned.columns[4:]:
    print(column)
    print(cleaned[column].value_counts())

related
1    20094
0     6122
Name: related, dtype: int64
request
0    21742
1     4474
Name: request, dtype: int64
offer
0    26098
1      118
Name: offer, dtype: int64
aid_related
0    15356
1    10860
Name: aid_related, dtype: int64
medical_help
0    24132
1     2084
Name: medical_help, dtype: int64
medical_products
0    24903
1     1313
Name: medical_products, dtype: int64
search_and_rescue
0    25492
1      724
Name: search_and_rescue, dtype: int64
security
0    25745
1      471
Name: security, dtype: int64
military
0    25356
1      860
Name: military, dtype: int64
child_alone
0    26216
Name: child_alone, dtype: int64
water
0    24544
1     1672
Name: water, dtype: int64
food
0    23293
1     2923
Name: food, dtype: int64
shelter
0    23902
1     2314
Name: shelter, dtype: int64
clothing
0    25811
1      405
Name: clothing, dtype: int64
money
0    25612
1      604
Name: money, dtype: int64
missing_people
0    25918
1      298
Name: missing_people, dtype: int64
refugees
0    25341
1      875
Name: refugees, dtype: int64
death
0    25022
1     1194
Name: death, dtype: int64
other_aid
0    22770
1     3446
Name: other_aid, dtype: int64
infrastructure_related
0    24511
1     1705
Name: infrastructure_related, dtype: int64
transport
0    25015
1     1201
Name: transport, dtype: int64
buildings
0    24883
1     1333
Name: buildings, dtype: int64
electricity
0    25684
1      532
Name: electricity, dtype: int64
tools
0    26057
1      159
Name: tools, dtype: int64
hospitals
0    25933
1      283
Name: hospitals, dtype: int64
shops
0    26096
1      120
Name: shops, dtype: int64
aid_centers
0    25907
1      309
Name: aid_centers, dtype: int64
other_infrastructure
0    25065
1     1151
Name: other_infrastructure, dtype: int64
weather_related
0    18919
1     7297
Name: weather_related, dtype: int64
floods
0    24061
1     2155
Name: floods, dtype: int64
storm
0    23773
1     2443
Name: storm, dtype: int64
fire
0    25934
1      282
Name: fire, dtype: int64
earthquake
0    23761
1     2455
Name: earthquake, dtype: int64
cold
0    25686
1      530
Name: cold, dtype: int64
other_weather
0    24840
1     1376
Name: other_weather, dtype: int64
direct_report
0    21141
1     5075
Name: direct_report, dtype: int64

In [11]:
categories = cleaned[cleaned.columns[4:]].sum()

In [12]:
categories.sort_values(ascending=False).head(5)

related            19906
aid_related        10860
weather_related     7297
direct_report       5075
request             4474
dtype: int64

In [13]:
genre_counts = df.groupby('genre').count()['message']

In [14]:
genre_counts

genre
direct    10852
news      13128
social     2406
Name: message, dtype: int64